.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  max-width: 800px;
  width: 100%;
}

.row > * {
  max-width: 100%;
  width: 100%;
  padding: 30px;
}

.col {
  flex: 0 0 auto;
  max-width: 50%;
}

.dotted-border-transition {
  border: 3px dotted transparent;
  transition: border 0.3s ease;
  cursor: pointer;
}

.dotted-border-transition:hover {
  border: 3px dotted #000;
}

.position-relative {
  position: relative;
}

.exercise-image {
  width: 100%;
  max-height: 350px;
}

.exercise-label {
  position: absolute;
  left: 5%;
  top: 5%;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
}
